body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto 0px auto;
  background-image: url("images/pattern.jpg");
}

h1 {
  text-align: center;
  font-size: 41px;
  color: white;
  margin: 80px;
}

nav {
  width: 100%;
  position: fixed;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.text_size p {
  color: rgb(200, 200, 200);
}

#size {
  width: 80%;
  margin: 0px auto 50px auto;
}
.same_size {
  padding: 30px 50px;
  height: 200px;
  width: 300px;
}

.text_size {
  padding: 10px 50px;
}

.background_image {
  height: 700px;
  background-image: url("images/jay.jpg");
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.al {
  padding: 0px 200px 0px 0px;
  line-height: 30px;
}
/*.block {
  display: inline-block;
}*/

.bac{
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  margin-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.wow {
  padding-left: 20px
}

ul {
  padding: 0px 0px 0px 10px;
  list-style-type: none;
}

li {
  display: inline;
  padding-left: 10px;
  text-decoration: none;
}

.dec {
  text-decoration: none;
  color: black;
}

li a:hover{
  color: green;
  text-decoration: none;
}

footer {
  background-color: #333;
  height: 40px;
}

.pose {
  margin: 250px;
}

footer p {
  display: inline;
  text-align: center;
  padding: 16px;
  margin: auto;
  text-align: center;
  color: #f2f2f2;
  font-size: 17px;
}


